html {
    height: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

p {
    color: black;
    font-family: "microsoft yahei";
    font-weight: bold;
    left: -10px;
}

body {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "microsoft yahei";
    background-color: rgb(165, 163, 163);
    overflow: hidden;
}


/* nav 一些連結*/

nav {
    height: 50px;
    line-height: 70px;
}


/*
.nav-title:hover {
    color: #507e94;
    text-decoration: none;
    padding-left: 105px;
}
*/

.nav-home {
    background-color: rgb(165, 163, 163);
    color: #e9b856;
    font-size: 32px;
    margin-left: 13px;
}

.nav-home:hover {
    color: white;
    text-decoration: none;
}

.nav-link {
    background-color: rgb(165, 163, 163);
    color: #a1472c;
    font-size: 32px;
}

.nav-link:hover {
    color: white;
}

.nav-restart {
    color: #507e94;
    font-size: 50px;
    text-decoration: none;
    margin-left: 13px;
    margin-top: 50px;
}

.nav-restart:hover {
    color: white;
    text-decoration: none;
}

.title {
    color: #507e94;
    width: 40%;
    font-size: 50px;
    float: left;
    position: relative;
    margin-top: 20px;
}

.logo {
    width: 40%;
    font-size: 80px;
    font-weight: bold;
    color: #408080;
    float: right;
    margin-right: 20px;
    position: relative;
}

.container {
    width: 452px;
    height: 100%;
    overflow: hidden;
    position: relative;
}


/* score */

.scoreBar {
    width: 40%;
    float: left;
    background: rgb(165, 163, 163);
    color: rgb(165, 163, 163);
    padding: 10px;
    position: relative;
}

.scoreBar:before {
    content: "";
    display: block;
    border-width: 20px;
    border-color: transparent rgb(165, 163, 163) transparent transparent;
    border-style: solid;
    position: absolute;
    top: 50%;
    left: -40px;
    margin-top: -20px;
}

#score {
    font-size: 50px;
}

#addScore {
    position: absolute;
    bottom: 0px;
    font-size: 30px;
    color: rgb(165, 163, 163);
    opacity: .8;
    top: 4px;
    right: 0;
}

#addScore.show {
    opacity: .8;
    transition: all .5s ease;
    -ms-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

#addScore.hide {
    opacity: 0;
    transition: all .5s ease;
    -ms-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -webkit-transition: all .5s ease;
}


/* 遊戲框架 */

#stage {
    background: #507e94;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    position: absolute;
    width: 450px;
    height: 450px;
    top: 50%;
    left: 0;
    margin-top: -200px;
    border: 1px solid #eee;
    z-index: 1;
}

#undo {
    position: relative;
    z-index: 990;
}

.row0 {
    top: 10px;
    transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.row1 {
    top: 120px;
    transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.row2 {
    top: 230px;
    transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.row3 {
    top: 340px;
    transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.cell0 {
    left: 10px;
    transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.cell1 {
    left: 120px;
    transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.cell2 {
    left: 230px;
    transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.cell3 {
    left: 340px;
    transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

span {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    background: #fff;
    font-size: 43px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}


/* 數字方塊的樣式 */

div {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.num2 {
    background: #8DB6CD;
    color: white;
    font-size: 100px;
    transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    animation: myfirst .5s;
    -moz-animation: myfirst .5s;
    /* Firefox */
    -webkit-animation: myfirst .5s;
    /* Safari or Chrome or opera */
}

.num4 {
    background: #87CEFF;
    color: white;
    font-size: 100px;
    transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    animation: myfirst .5s;
    -moz-animation: myfirst .5s;
    /* Firefox */
    -webkit-animation: myfirst .5s;
    /* Safari or Chrome */
}

.num8 {
    background: #4F94CD;
    color: white;
    font-size: 100px;
    transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    animation: myfirst .5s;
}

.num16 {
    background: #009ACD;
    color: white;
    font-size: 80px;
    transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    animation: myfirst .5s;
}

.num32 {
    background: white;
    color: #4A708B;
    font-size: 80px;
    transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.num64 {
    background: #00BFFF;
    color: #607B8B;
    font-size: 80px;
    transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.num128 {
    background: #607B8B;
    color: #C6E2FF;
    font-size: 52px;
    transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.num256 {
    background: white;
    color: #6C7B8B;
    font-size: 52px;
    transition: all .2s ease;
    -ms-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

@keyframes myfirst {
    0% {
        opacity: 0;
        transform: scale(0)
    }
    50% {
        opacity: .5;
        transform: scale(1.5)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}

@-moz-keyframes myfirst
/* Firefox */

{
    0% {
        opacity: 0;
        -moz-transform: scale(0)
    }
    50% {
        opacity: .5;
        -moz-transform: scale(1.5)
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1)
    }
}

@-webkit-keyframes myfirst
/* Safari or Chrome */

{
    0% {
        opacity: 0;
        -webkit-transform: scale(0)
    }
    50% {
        opacity: .5;
        -webkit-transform: scale(1.5)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1)
    }
}